@use "mixim";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
  height: auto;
}
body {
  height: 100vh;
  background-color: #ffffff;
  @include mixim.padrao;
}
.caixa {
  border: 6px solid #000;
  width: 450px;
  height: 600px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  position: relative;
  font-family: Roboto;
  &-screen {
    height: 50%;
    @include mixim.padrao;
    background: linear-gradient(45deg, #252525, rgb(154, 163, 161));
    border-radius: 4px 4px 0 0;
    &-tela {
      border: 3px solid #000;
      background-image: url(/img/wall1.jpg);
      position: relative;
      width: 80%;
      height: 70%;
      background-size: 100% 100%;
      overflow: hidden;
      &-loading {
        background-image: url(/img/wall1.jpg);
        background-size: 100% 100%;
        height: 100%;
        position: relative;
        img {
          width: 50%;
          height: 80%;
          position: absolute;
          left: 25%;
          top: 10%;
          animation: load infinite 4s ease alternate-reverse;
        }
      }
      &-pergunta {
        padding: 2rem 1rem;
        position: relative;
        color: #fff;
        height: 100%;
        .nr {
          font-size: 1.4rem;
          font-weight: bold;
          margin-right: 0.6rem;
          text-decoration: underline;
          display: inline-block;
          margin-right: 0.5rem;
          margin-bottom: 0.4rem;
          color: cyan;
        }
        h4 {
          font-size: 1.3rem;
        }
        .pergunta {
          display: inline;
        }
        .tempo {
          position: absolute;
          bottom: 10%;
          right: 10%;
        }
      }
      &-pontos {
        position: relative;
        height: 100%;
        opacity: 0;
        transition: all 5s ease-in;
        .mostrarPontos {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          font-size: 4rem;
          display: flex;
          flex-direction: column;
          text-align: center;
          color: #fff;
          border-bottom: 2px solid #fff;
        }
      }
      &-solucao {
        height: 100%;
        padding: 0.3rem 0.4rem;
        overflow-y: scroll;
        &-questao {
          &-perg {
            text-shadow: 1px 1px 1px #000;
            margin-bottom: 0.5rem;
            font-size: 1.1rem;
            color: rgb(255, 255, 255);
            &-resp {
              margin-bottom: 2rem;
              h5 {
                font-size: 1rem;
                display: flex;
                align-items: center;
                color: rgb(0, 219, 219);
                span {
                  margin-left: 1rem;
                  display: flex;
                  align-items: center;
                  color: #fff;
                  i {
                    font-size: 1.5rem;
                    margin-left: 0.5rem;
                    font-weight: bold;
                    text-shadow: 1px 1px 1px #000;
                  }
                  .errada {
                    color: red;
                  }
                  .certa {
                    color: green;
                  }
                }
              }
            }
          }
        }
      }
      &-over {
        background-color: #000;
        height: 100%;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;

        h2 {
          color: red;
          font-size: 3rem;
          text-shadow: 2px 2px 2px #aeaeae;
          display: flex;
          flex-direction: column;
        }
        i {
          animation: caveira infinite 1.5s alternate-reverse;
          margin-top: 0.5rem;
          font-size: 3.5rem;
        }
      }
    }
  }
  &-touch {
    height: 50%;
    @include mixim.padrao;
    background: linear-gradient(120deg, #252525, rgb(154, 163, 161));
    border-radius: 0 0 4px 4px;
    &-tela {
      border: 3px solid #000;
      width: 80%;
      height: 70%;
      position: relative;
      background-image: url(/img/wall1.jpg);
      background-size: 100% 100%;
      overflow: hidden;
      &-loading {
        background-color: black;
        height: 100%;
        @include mixim.padrao;
        flex-direction: column;
        background-image: url(/img/wall1.jpg);
        background-size: 100% 100%;
        position: relative;

        img {
          height: 90%;
          width: 70%;
        }
        p {
          color: #fff;
          position: absolute;
          bottom: 15%;
          text-shadow: 1px 1px 1px #000;
          left: 50%;
          transform: translateX(-50%);
        }
      }
      &-next {
        text-decoration: underline;
        color: cyan;
        position: absolute;
        border-radius: 10px;
        border: 1px solid cyan;
        padding: 0.4rem 1.4rem;
        cursor: pointer;
        left: 50%;
        transform: translateX(-50%);
        bottom: 3%;
        font-size: 1.2rem;
        transition: all 1s ease-in;
        display: none;
        &:hover {
          background-color: darkblue;
          color: #fff;
          border: 1px solid #fff;
        }
      }
      &-intro {
        border: 1px solid transparent;
        position: relative;
        text-align: center;
        height: 100%;
        @include mixim.back;
        .pag {
          font-size: 1.3rem;
          position: absolute;
          top: 2%;
          right: 1%;
          z-index: 2;
          color: #fff;
        }
        .btnGo {
          text-decoration: underline;
          color: cyan;
          position: absolute;
          border-radius: 10px;
          border: 1px solid cyan;
          padding: 0.1rem 0.7rem;
          cursor: pointer;
          left: 50%;
          transform: translateX(-50%);
          bottom: 3%;
          font-size: 1rem;
          transition: all 1s ease-in;
          z-index: 2;
          &:hover {
            background-color: darkblue;
            color: #fff;
            border: 1px solid #fff;
          }
        }
        &-i0 {
          @include mixim.back;
          transition: all 1.2s ease-in;
          text-shadow: 1px 1px 1px #000;
          .img1 {
            height: 50%;
            width: 40%;
            position: absolute;
            left: -5%;
            bottom: -5%;
          }
          .img2 {
            height: 120%;
            width: 100%;
            top: -20%;
            left: 0;
            position: absolute;
          }
          p {
            width: 60%;
            color: cyan;
            line-height: 1.3rem;
            position: absolute;
            top: 22%;
            left: 20%;
            text-shadow: 1px 1px 1px #000;
            span {
              color: #fff;
              font-size: 1.1rem;
            }
            input {
              border-radius: 5px;
              padding-left: 5%;
              width: 60%;
              outline: none;
              border: none;
              color: rgb(0, 0, 0);
              transition: all 2s ease;
              letter-spacing: 0.2rem;
              text-transform: uppercase;
              &:hover {
                background-color: transparent;
                color: cyan;
              }
              &:focus {
                background-color: transparent;
                color: cyan;
                text-transform: lowercase;
              }
            }
          }
        }
        &-i1 {
          @include mixim.back;
          transition: all 1.2s ease-in;

          text-shadow: 1px 1px 1px #000;
          .img1 {
            height: 50%;
            width: 40%;
            position: absolute;
            left: 20%;
            bottom: -5%;
          }
          .img2 {
            position: absolute;
            height: 115%;
            width: 115%;
            left: -10%;
            top: -20%;
          }
          p {
            text-shadow: 1px 1px 1px #000;
            color: cyan;
            position: absolute;
            top: 15%;
            max-width: 65%;
            left: 16%;
            span {
              color: #fff;
              font-size: 1.1rem;
            }
          }
        }
        &-i2 {
          @include mixim.back;
          transition: all 1.2s ease-in;
          text-shadow: 1px 1px 1px #000;
          .img1 {
            height: 50%;
            width: 40%;
            position: absolute;
            right: -5%;
            bottom: -5%;
          }
          .img2 {
            height: 120%;
            width: 100%;
            top: -20%;
            left: 0;
            position: absolute;
          }
          .img3 {
            position: absolute;
            height: 10%;
            width: 7%;
            top: 29%;
            left: 71%;
          }
          p {
            text-shadow: 1px 1px 1px #000;
            color: cyan;
            position: absolute;
            top: 19%;
            max-width: 45%;
            left: 28%;

            span {
              color: #fff;
              font-size: 1.1rem;
            }
          }
        }
        &-i3 {
          @include mixim.back;
          transition: all 1.2s ease-in;
          text-shadow: 1px 1px 1px #000;
          .img1 {
            height: 50%;
            width: 40%;
            position: absolute;
            left: -5%;
            top: -3%;
            transform: rotate(180deg);
          }
          .img2 {
            height: 110%;
            width: 100%;
            top: -4%;
            left: -2%;
            position: absolute;
          }
          p {
            width: 45%;
            position: absolute;
            top: 35%;
            left: 25%;
            color: cyan;

            span {
              color: #ffd139;
              font-size: 1.25rem;
            }
          }
        }
        &-i4 {
          @include mixim.back;
          transition: all 1.2s ease-in;
          text-shadow: 1px 1px 1px #000;
          h3 {
            width: 70%;
            position: absolute;
            top: 20%;
            color: cyan;
            left: 15%;
            .recebeNome {
              color: #fff;
              font-size: 1.4rem;
            }
          }
          p {
            //botao iniciar
            position: absolute;
            border-radius: 10px;
            border: 1px solid cyan;
            padding: 0.4rem 1.4rem;
            cursor: pointer;
            left: 37%;
            top: 60%;
            font-size: 1.2rem;
            transition: all 1s ease-in;
            animation: iniciar infinite 1s alternate-reverse;
          }
        }
      }
      &-opcoes {
        position: absolute;
        top: 10%;
        width: 100%;
        max-height: 60%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        transition: all 1s ease-in;
        display: none;
        .opcao {
          border: 2px solid rgb(0, 191, 197);
          display: flex;
          justify-content: space-evenly;
          font-size: 1.2rem;
          min-width: 140px;
          max-width: 170px;
          margin-bottom: 1rem;
          text-align: center;
          transition: all 0.6s ease-in;
          border-radius: 10px;
          padding-block: 0.3rem;
          color: #fff;
          text-shadow: 1px 1px 1px #000;
          &:hover {
            background-color: cyan;
            color: #fff;
            border: 2px solid #fff;
          }
        }
      }
      &-over {
        background-color: #000;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 0.5rem;
        position: relative;
        display: none;
        p {
          color: red;
          font-size: 1.5rem;
          border: 2px solid red;
          border-radius: 10px;
          padding: 0.5rem 1rem;
          text-align: center;
          width: 60%;
          margin: 0 auto;
          font-size: 1.7rem;
          text-shadow: 1px 1px 1px #aeaeae;
          cursor: pointer;
          transition: all 0.3s ease;
          &:hover {
            color: #fff;
            text-shadow: 2px 2px 2px #aeaeae;
          }
        }
        &-opcao {
          border: 1px solid red;
          height: 50%;
          width: 50%;
          left: 50%;
          transform: translateX(-50%);
          padding: 1rem;
          background-color: rgb(0, 0, 0);
          position: absolute;
          display: flex;
          align-items: center;
          flex-direction: column;
          display: none;
          h3 {
            color: red;
            text-shadow: 1px 1px 1px #333333;
            font-size: 1.4rem;
          }
          div {
            margin-top: 0.6rem;
            display: flex;
            .opcao {
              font-size: 1.2rem;
              border: none;
              &:hover {
                text-decoration: underline;
              }
            }
          }
        }
      }
      &-reiniciar {
        @include mixim.back;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 0.5rem;
        position: relative;
        display: none;
        p {
          color: cyan;
          font-size: 1.5rem;
          border: 2px solid cyan;
          border-radius: 10px;
          padding: 0.5rem 1rem;
          text-align: center;
          width: 60%;
          margin: 0 auto;
          font-size: 1.7rem;
          text-shadow: 1px 1px 1px #aeaeae;
          cursor: pointer;
          transition: all 0.3s ease;
          &:hover {
            color: #fff;
            text-shadow: 2px 2px 2px #aeaeae;
          }
        }
        &-opcao {
          border: 1px solid cyan;
          height: 50%;
          width: 50%;
          left: 50%;
          transform: translateX(-50%);
          padding: 1rem;
          background-image: url("/img/wall1.jpg");
          background-size: 100% 100%;
          position: absolute;
          display: flex;
          align-items: center;
          flex-direction: column;
          display: none;
          h3 {
            color: cyan;
            text-shadow: 1px 1px 1px #333333;
            font-size: 1.4rem;
          }
          div {
            margin-top: 0.6rem;
            display: flex;
            .opcao {
              font-size: 1.2rem;
              border: none;
              &:hover {
                text-decoration: underline;
              }
            }
          }
        }
      }
      &-resultado {
        @include mixim.back;
        display: flex;
        align-items: center;
        justify-content: center;
        display: none;
        .ver-resultado {
          border: 1px solid cyan;
          border-radius: 15px;
          padding: 0.3rem 1rem;
          cursor: pointer;
          font-size: 1.4rem;
          text-align: center;
          transition: all 1s ease;

          &:hover {
            background-color: darkblue;
            color: #fff;
            border: 1px solid #fff;
          }
        }
      }
    }
  }
  .barra {
    border: 1px solid #000;
    padding: 0.2rem;
    border-radius: 3px;
    position: absolute;
    left: -1%;
    top: 50%;
    width: 102%;
    transform: translateY(-50%);
    background-color: #000;
  }
}

//tela loading
@keyframes load {
  from {
    transform: scale(1.2);
  }
  to {
    transform: scale(1);
  }
}
//botao iniciar
@keyframes iniciar {
  from {
    transform: scale(1.2);
    background-color: #fff;
    border: 2px solid cyan;
    color: cyan;
  }
  to {
    background-color: cyan;
    border: 2px solid #fff;
    color: #fff;
    transform: scale(1);
  }
}
//tela gameover
@keyframes caveira {
  from {
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
    transform: scale(1);
  }
  to {
    text-shadow: 2px 2px 2px #aeaeae;
    transform: scale(1.1);
  }
}
